.gallery_container{
  
    justify-content: center;
    .col{
 
      width: 90%;
     
    }
    .vertical{
      width: 60%;
    }
}


.popUp{
   
  .popUpImageArea{
  height: 45%;
  width: 81%;
  &.popUpReferences{
    top: 12%;
    width: 83%;
    .popUpImage{
      width: 97%;
      left: 10%;
      height: 85%;
    }
    button{
      left: 109%;
      top: 0%;
    }
    .fa-angle-right {
      
      }
  }
  .img_title {
    
   h2{
     font-size: 1rem;
   }
  }

  .fa-angle-right {
    font-size: 2rem;
    left: 107%;
}
.fa-angle-left {
   font-size: 2rem;
  right: 0;
}
button{
  left: 106%;
  top: -8%;
  font-size: 1.5rem;
}
.popUpImage{
  left: 10%;
}
.wider{
  left: 30%;
}
  }}

  .gallery_container{
    padding:30px 0 ;
    &.references{ 
  
    
  img{
    width: 60% ;
 
   
  }
}
  }    .gallery_title::before{
        left: 36%;
      }