
.banner_content_area{
.banner_text{
  padding: 20px 15px;
  font-size: 1.2rem;
  text-align: center;
}
.banner_btn_area{
  padding-top: 70px;
    .banner_btn{
      padding:20px 15px;
      margin: 15px 0;
    font-size: 1.2em;
 
  }
  }
}

  
  .about{
    

    padding: 15px 20px;
  }
  .job{
 
    padding: 15px;
   
      
  }