.gallery_container{
  
    
    .col{
 
      width: 38%;
     
    }
    .vertical{
      width: 26%;
    }
}
.popUp{
 
.popUpImageArea{

  width: 70%;
  .img_title {
     
    top: 94%;
    right: 5%;}

}}

.gallery_container{
      padding-right: 40px 0;
  &.references{ 
    margin: 0;
img{
  width: 25%;
}
}
}